<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book List</title>
    <th:block th:include="common :: header"></th:block>
</head>
<body>
    <th:block th:include="common :: title"></th:block>

    <h1 class="display-1">Book List</h1>

    <table class="table table-dark">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>ISBN</th>
        </tr>
        <tr th:each="book : ${books}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.isbn}"></td>
        </tr>
    </table>
</body>
</html>