<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>People List </title>
    <th:block th:include="common :: header"></th:block>
</head>
<body>
    <th:block th:include="common :: title"></th:block>
    <h1 class="display-1">People List</h1>

    <table class="table table-dark">
        <tr>
            <th>Name</th>
        </tr>
        <tr th:each="person : ${people}">
            <td><a th:href="@{person(id=${person.id})}" th:text="${person.firstName + '  ' + person.lastName}"></a></td>
        </tr>
    </table>
</body>
</html>