<!DOCTYPE html>
<html lang="en" xlmns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person Detailss</title>
    <th:block th:include="common :: header"></th:block>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    <script th:inline="javascript">
        $(document).ready(function () {
            $("button").click(function () {
                $("#div_content").load("/booksForPerson?id=[[${person.id}]]");
                $("#bookButton").empty();
            });
        });
    </script>
</head>
<body>
<th:block th:include="common :: title"></th:block>
<h1 class="display-1">Person Details</h1>

<table  class="table table-dark">
    <tr>
        <th>First Name: </th>
        <td th:text="${person.firstName}"></td>
    <tr>
    </tr>
        <th>Last Name: </th>
        <td th:text="${person.lastName}"></td>
    </tr>
    </tr>
        <th>Phone: </th>
        <td th:text="${person.phone}"></td>
    </tr>
    </tr>
        <th>Email: </th>
        <td th:text="${person.email}"></td>
    </tr>
</table>

<div id="bookButton" th:if="${#lists.isEmpty(books)}" th:fragment="bookButton">
    <button class="btn btn-primary">Show Lent Books</button>
</div>
<div id="div_content" th:fragment="div_content">
    <div th:if="${not #lists.isEmpty(books)}">
        <h2 class="display-4">Books Lent</h2>
        <table  class="table table-dark">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>ISBN</th>
        </tr>
        <tr th:each="book : ${books}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.isbn}"></td>
        </tr>
    </table>
    </div>
</body>
</html>